/* Основной текст #757575 */
/* Цвет заголовков #212121 */
/* Цвет выделения текста #2196F3 */
/* Второстепенное выделение текста #FFFFFF */
/* Цвет адреса rgba(255, 255, 255, 0.6) */
:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --button-secondary-bg-color: #f5f4fa;
  --bg-color: #2f303a;
  --line-header-color: #ececec;
  --main-svg-fill: #afb1b8;
}

body {
  color: var(--main-text-color);
  font-family: Roboto, Raleway, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}
/* общие стили для списков */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
}

/* общие стили для оформления контейнеров */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
}

/* основное оформление отступов справа между блоками*/
.item-flex:not(:last-child) {
  margin-right: 30px;
}
/* основное оформление для картинок */
.img {
  display: block;
  width: 100%;
  height: auto;
}

/* Основное оформление секций */
.section {
  margin-top: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Основное оформление заголовков секций */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* Основное оформление заголовков */
.title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
}

/* основное оформление логотипа */
.logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* Основное оформление кнопки */
.button {
  border-radius: 4px;
  padding: 6px 22px;

  display: inline-block;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.accent {
  color: var(--accent-color);
}

/* Стили для index */
.footer {
  background-color: var(--bg-color);
}
/* Оформелние панели навигации */
.header {
  border-bottom: 1px solid var(--line-header-color);
}

.nav-container,
.site-nav {
  display: flex;
  align-items: center;
}

.site-nav-list {
  margin-left: 93px;

  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.contacts-item:hover,
.contacts-footer:hover,
.nav-link:focus,
.contacts-item:focus,
.contacts-footer:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.contacts-nav {
  margin-left: auto;
  align-items: center;
  display: inline-flex;
}

.contacts-header {
  color: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-item {
  display: flex;
  align-items: center;

  color: var(--main-text-color);
  fill: var(--main-text-color);
}

.icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: inherit;
}

.smartphone-icon {
  width: 10px;
  height: 16px;
}

/* Оформление секции-герой */
.hero {
  padding: 200px 452px;

  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/overlay.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

/* Оформление заголовка секции-герой */
.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--second-accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Оформление кнопки в секции-герой */
.primary {
  padding: 10px 32px;

  color: var(--second-accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
}

.primary:hover,
.primary:focus {
  color: var(--accent-color);

  background-color: var(--second-accent-color);
}

/* Оформление выравнивания секции особенности компании */
.title-advantages {
  display: none;
}

/* Оформление списка особенностей компании */
.advantages-list {
  display: flex;
}

/* Оформление элементов списка особенностей компании */
.advantages-item {
  width: calc((100% - 90px) / 4);
  justify-content: center;
}
/* Оформление иконок особенностей компании */
.icon-advantages-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;

  background-color: var(--button-secondary-bg-color);
  border-radius: 4px;
}

.icon-advantages {
  width: 65px;
  height: 70px;
}

/* Оформление заголовков секции особенности компании */
.advantages-title {
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}
/* Оформление параграфов особенности компании */
.advantages-list p {
  margin: 0;
}

.work-section {
  padding-top: 0;
}

.work-list {
  display: flex;
}

/* Оформление для секции команда */
.team-section {
  margin: 0;

  background-color: var(--button-secondary-bg-color);
}
/* Оформление для контейнера команда */

.team-list {
  display: flex;

  text-align: center;
}

.card {
  padding-bottom: 30px;

  background-color: var(--second-accent-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team-img {
  margin-bottom: 30px;
}

/* Оформление заголовков секции команда */
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
/* Оформление рода деятельности членов команды */
.prof {
  margin: 0px;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

.sw-list {
  display: inline-flex;
}

.sw-list-item:not(:last-child) {
  margin-right: 10px;
}

.sw-link {
  padding: 12px;
  width: 44px;
  height: 44px;

  text-align: center;
  background-color: inherit;
  fill: var(--main-svg-fill);

  border-radius: 50%;
}

.sw-link:hover,
.icon-link:hover,
.sw-link:focus,
.icon-link:focus {
  background-color: var(--accent-color);
  fill: var(--second-accent-color);
}

.icon-link {
  width: 20px;
  height: 20px;
  fill: inherit;
}

.clients-list {
  display: inline-flex;
}

/* Оформление списка клиентов */
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;

  border: 1px solid var(--main-svg-fill);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--second-accent-color);
  fill: var(--main-svg-fill);
}

.icon-clients {
  fill: inherit;
}

.icon-clients:hover,
.clients-link:hover,
.icon-clients:focus,
.clients-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.icon-client-yanco {
  width: 44px;
  height: 49px;
}

.icon-client-tiglinehere {
  width: 40px;
  height: 52px;
}

.icon-client-company {
  width: 41px;
  height: 42.6px;
}

.icon-client-fosterpeters {
  width: 79.66px;
  height: 42px;
}

.icon-client-brand {
  width: 59px;
  height: 47px;
}

.icon-client-tigline {
  width: 88.48px;
  height: 45.44px;
}

/* Оформление контейнера в футере */
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;

  color: var(--second-accent-color);
}
/* Оформление контактов */
.footer-list {
  display: inline-flex;
  align-items: flex-start;
}
.footer-list-item:not(:last-child) {
  margin-right: 70px;
}

/* Оформление лого в футере */
.footer-logo {
  margin-bottom: 20px;

  display: block;

  color: inherit;
}
/* Оформление контактов в футере */
.address {
  color: inherit;
  font-style: normal;
}

/* Оформление адреса в футере */
.location {
  margin-top: 0;
  margin-bottom: 9px;
}
/* Оформление контактов в футере */
.contacts-footer {
  margin-bottom: 9px;

  display: block;

  color: var(--contacts-footer-color);
}
.tel {
  margin-bottom: 0;
}

.sw-foter-title {
  margin-bottom: 20px;
  padding-top: 12px;

  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: inherit;
}

.sw-footer-link {
  background: rgba(255, 255, 255, 0.1);
}

.icon-footer-link {
  fill: var(--second-accent-color);
}

/* Стили для portfolio */
.portfolio-main-container {
  margin-top: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.button-list {
  margin-bottom: 50px;
}

.sort-list {
  display: flex;
  justify-content: center;
}

.sort-list-item:not(:last-child) {
  margin-right: 8px;
}

.secondary {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  background-color: var(--button-secondary-bg-color);
  border: 0px;
}

.secondary:hover,
.secondary:focus {
  border: 0px;

  color: var(--second-accent-color);

  background-color: var(--accent-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-card {
  width: 370px;

  background-color: var(--second-accent-color);
  border: 1px solid #eeeeee;
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-img {
  margin-bottom: 20px;
}

.portfolio-title {
  margin-bottom: 4px;
  padding-left: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio {
  margin: 0;
  padding-bottom: 20px;
  padding-left: 24px;

  font-size: 16px;
  line-height: 1.87;
}
