// @import "./utils/normalize";
@import "./utils/variables";
@import "./utils/placeholders";
@import "./utils/mixins";

@import "./components/general/body";
@import "./components/general/container";
@import "./components/general/image";
@import "./components/general/section";
@import "./components/general/logo";
@import "./components/general/button";
@import "./components/general/header";
@import "./components/index/menu-mob";
@import "./components/general/site-nav";
@import "./components/general/contacts";
@import "./components/index/hero";
@import "./components/index/backdrop";
@import "./components/index/modal";
@import "./components/general/form";
@import "./components/index/advantages";
@import "./components/index/work-examples";
@import "./components/index/team";
@import "./components/index/card";
@import "./components/general/socials";
@import "./components/index/clients";
@import "./components/general/address";
@import "./components/general/footer";
@import "./components/portfolio/sorting";
@import "./components/portfolio/portfolio";
