.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include for-size(mobile) {
    width: 480px;
  }

  @include for-size(tablet) {
    width: 768px;
  }

  @include for-size(desktop) {
    width: 1200px;
  }
}
