.footer {
  background-color: $bg-color;

  &__container {
    padding-top: 60px;
    padding-bottom: 60px;

    color: $second-accent-color;
  }

  &__list {
    @extend %list;
    display: inline-flex;
    align-items: flex-start;
  }

  &__item:not(:last-child) {
    margin-right: 70px;
  }

  &__title {
    @extend %title;
    margin-bottom: 20px;
    padding-top: 12px;

    color: inherit;
    font-size: $f-size-2;
    line-height: $l-hgt-1;
    text-transform: uppercase;
  }

  &__form {
    @include centerFlexbox();
  }
}
