.form {
  &__field {
    position: relative;

    @extend %d-block;
    margin-bottom: 28px;
  }

  &__field--margin {
    margin-bottom: 20px;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    @include fonts($fc: 12px, $lh: 1.17, $ls: 0.01em);

    transform: translateY(-128%);
  }

  &__input {
    padding-left: 42px;
    width: 100%;
    height: 40px;

    background-color: $form-input-bg-color;
    border: 1px solid $form-input-color;
    border-radius: 4px;
    transition: border-color $animation, outline-color $animation;
  }

  &__field:hover &__input,
  &__field:focus-within &__input {
    border-color: $accent-color;
    outline-color: $accent-color;
  }

  &__input-alt {
    @extend %d-in-block;
    margin-right: 12px;
    @include for-size(mob-tab) {
      margin-bottom: 20px;
    }
    padding-left: 16px;
    width: 300px;
    @include for-size(mobile) {
      width: 358px;
    }
    height: 50px;

    color: $second-accent-color;
    @include fonts($lh: 1.25);

    background-color: $form-input-bg-color;
    border: 1px solid $form-input-alt-bg-color;
    border-radius: 4px;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  }

  &__input-icon {
    position: absolute;
    top: 50%;
    left: 15px;

    width: 18px;
    height: 18px;

    fill: $title-text-color;
    transform: translateY(-50%);
    transition: fill $animation;
  }

  &__field:hover &__input-icon,
  &__field:focus-within &__input-icon {
    fill: $accent-color;
  }

  &__textarea {
    @extend %d-block;
    padding: 12px 16px;
    resize: none;
    width: 100%;
    height: 120px;

    background-color: $form-input-bg-color;
    border: 1px solid $form-input-color;
    border-radius: 4px;
    transition: border-color $animation, outline-color $animation;
  }

  &__textarea::placeholder {
    color: $placeholder-color;
    @include fonts($fc: 14px, $ls: 0.01em);
  }

  &__field:hover &__textarea,
  &__field:focus-within &__textarea {
    border-color: $accent-color;
    outline-color: $accent-color;
  }

  &__terms-field {
    @include centerFlexbox();
    margin-bottom: 30px;

    @include for-size(mob-tab) {
      @include fonts($fc: 12px, $lh: 1.17);
    }
  }

  &__terms-link {
    position: relative;
    @extend %link;
    color: $accent-color;
  }

  &__terms-link::after {
    position: absolute;
    right: 0;
    bottom: 0;

    content: "";
    @extend %d-block;
    width: 100%;
    height: 1px;

    background-color: $accent-color;
  }

  &__checkbox {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);

    overflow: hidden;
  }
  &__custom-checkbox {
    @extend %d-in-block;
    margin-right: 8px;
    width: 15px;
    height: 15px;

    border: 1px solid $title-text-color;
    border-radius: 2px;
    transition: background-color $animation;
  }
  &__checkbox:checked + &__custom-checkbox {
    background-color: $accent-color;
    border-color: transparent;
    background-image: url("../images/icon/modal-cheked.svg");
    background-size: contain;
    background-origin: border-box;
  }

  &__button {
    @include centerFlexbox();
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 200px;
    height: 50px;

    color: $second-accent-color;
    @include fonts(700, $lh: 1.87, $ls: 0.06em);

    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0;
    transition: background-color $animation;
  }

  .modal &__button:hover,
  .modal &__button:focus {
    background-color: #188ce8;
  }

  &__button--footer {
    @include for-size(mob-tab) {
      margin-left: auto;
      margin-right: auto;
    }
    @include for-size(desktop) {
      margin: 0;
    }
    padding: 6px 22px;

    border-radius: 4px;
  }
}
