.logo {
  color: $title-text-color;
  font-family: $f-family-Ral;
  font-weight: $f-weight-b;
  font-size: $f-size-6;
  line-height: $l-hgt-4;

  text-decoration: none;
  //Оформление лого в футере
  &--white {
    @extend %d-block;
    margin-bottom: 20px;

    color: inherit;
  }
  &__accent {
    color: $accent-color;
  }
}
