.site-nav {
  &__list {
    @include centerFlexbox();
    @extend %list;
    @include for-size(mobile-only) {
      display: inline-block;
      padding-bottom: 60px;
    }
  }

  &__item:not(:first-child) {
    @include for-size(mobile-only) {
      margin-top: 40px;
    }
  }
  &__item:not(:last-child) {
    @include for-size(tablet) {
      margin-right: 50px;
    }
  }

  &__link {
    @extend %link, %d-block;
    @include for-size(mobile-only) {
      @include fonts(500, 18px, 1.17, 0.02em);
    }
    @include for-size(tablet) {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    color: $title-text-color;
    @include fonts(500, inherit, $ls: 0.02em);
    transition: color $animation;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__link--current {
    position: relative;
    @include for-size(mobile-only) {
      display: inline-block;
      padding-bottom: 8px;
    }

    color: $accent-color;
  }

  &__link--current::after {
    position: absolute;
    bottom: 0;

    content: "";
    @extend %d-block;
    width: 100%;
    height: 4px;

    background-color: $accent-color;
    border-radius: 2px;
  }

  &__link--current:visited {
    color: $accent-color;
  }
}
