// colors
$main-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$second-accent-color: #ffffff;
$contacts-footer-color: rgba(255, 255, 255, 0.6);
$button-secondary-bg-color: #f5f4fa;
$bg-color: #2f303a;
$line-header-color: #ececec;
$main-svg-fill: #afb1b8;
$hero-bg: rgba(47, 48, 58, 0.4);
$backdrop-bg: rgba(0, 0, 0, 0.2);
$btn-close-brr-color: rgba(0, 0, 0, 0.1);
$form-input-bg-color: rgba(0, 0, 0, 0);
$form-input-color: rgba(33, 33, 33, 0.2);
$form-input-alt-bg-color: rgba(255, 255, 255, 0.3);
$placeholder-color: rgba(117, 117, 117, 0.5);
$work-title-bg-color: rgba(47, 48, 58, 0.8);
$soc-link-bg-color: rgba(255, 255, 255, 0.1);
$portfolio-bg-color: rgba(33, 150, 243, 0.9);

// fonts
$f-family-Ral: Raleway;
$f-family-Rob: Roboto;

// animation
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
