.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  @include for-size(mob-tab) {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  background-image: linear-gradient(to right, $hero-bg, $hero-bg),
    url("../images/hero/mobile/overlay.jpg");
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, $hero-bg, $hero-bg),
      url("../images/hero/mobile/overlay@2x.jpg");
  }
  @include for-size(tablet) {
    background-image: linear-gradient(to right, $hero-bg, $hero-bg),
      url("../images/hero/tablet/overlay.jpg");
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $hero-bg, $hero-bg),
        url("../images/hero/tablet/overlay@2x.jpg");
    }
  }
  @include for-size(desktop) {
    background-image: linear-gradient(to right, $hero-bg, $hero-bg),
      url("../images/hero/desktop/overlay.jpg");
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $hero-bg, $hero-bg),
        url("../images/hero/desktop/overlay@2x.jpg");
    }
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 696px;
    @include for-size(mob-tab) {
      max-width: 360px;
    }

    text-align: center;
  }

  //Оформление заголовка секции-герой
  &__title {
    margin-top: 0px;
    margin-bottom: 30px;

    color: $second-accent-color;
    @include fonts(900, 44px, 1.36, 0.06em);
    @include for-size(mob-tab) {
      @include fonts(900, 26px, 1.62, 0.06em);
    }
    text-transform: uppercase;
  }

  //Оформление кнопки в секции-герой
  &__button {
    padding: 10px 32px;

    color: $second-accent-color;
    @include fonts(700, $lh: 1.87, $ls: 0.06em);
    text-align: center;

    background-color: $accent-color;
    transition: background-color $animation;
  }

  &__button:hover,
  &__button:focus {
    color: $accent-color;

    background-color: $second-accent-color;
  }
}
