.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 450px;
  height: 609px;
  @include for-size(mobile-s) {
    width: 100%;
  }
  @include for-size(desktop) {
    width: 95%;
    height: 581px;
  }
  padding: 40px;

  background-color: $second-accent-color;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform $animation;

  .backdrop--is-hidden & {
    transform: translate(-50%, -50%) scale(0.6);
  }

  &__button-close {
    position: absolute;
    top: 8px;
    right: 8px;

    @include centerFlexbox(inline-flex);
    width: 30px;
    height: 30px;

    background-color: $second-accent-color;
    border: 1px solid $btn-close-brr-color;
    border-radius: 50%;
  }

  &__icon-close {
    fill: #000000;
    transition: fill $animation;
  }

  &__button-close:hover &__icon-close,
  &__button-close:focus &__icon-close {
    fill: $accent-color;
  }

  &__title {
    @extend %d-block;
    margin-bottom: 30px;

    color: $title-text-color;
    @include fonts(700, 20px, 1.15);
    @include for-size(mob-tab) {
      @include fonts(700, 20px, 1.5);
    }
    text-align: center;
  }
}
